/* CSS v0.1 by djphil (CC-BY-NC-SA 4.0) */

@CHARSET "UTF-8";
* {margin: 0px; padding: 0px;}
html, body {height: 100%; width: 100%; overflow-y:hidden;}

img#bgimage {
	left: 0px; 
	width: 100%; 
	position: fixed; 
	height: 100%;
    z-index:-1;
}

div#topleft 
{
	position: absolute;
	top: 40px;
	left: 20px;
	z-index: 10;
}

div#topright 
{
	position: absolute;
	top: 40px;
	right: 20px;
	z-index: 20;
}

.gridstatus, 
.regionlist,
.flashinfo,
.logo
{
	min-width: 350px;
	max-width: 400px;
	background:rgba(47,79,79.0.8);
	  filter: alpha(opacity=80);
  /* IE */
  -moz-opacity: 0.8;
  /* Mozilla */
  opacity: 0.8;
  /* CSS3 */
	
}

img.logo 
{
	text-align: center;
}
